<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .father {
      width: 80%;
      height: 500px;
      margin: 0 auto;
      background-color: purple;
      display: block;
    }

    .left {
      float: left;
      width: 70%;
      height: 100%;
      background-color: skyblue;
    }

    .right {
      float: left;
      width: 30%;
      height: 100%;
      background-color: pink;
    }
  </style>
</head>

<body>
  <div class="father">
    <div class="left"></div>
    <div class="right"></div>
  </div>
</body>

</html>