<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .father {
      margin: 0 auto;
      width: 80%;
      height: 500px
    }

    .left {
      float: left;
      width: 70%;
      height: 100%;
      background-color: skyblue;
      overflow: hidden;
    }

    .left img {
      width: 100%;
    }

    .right {
      float: left;
      width: 30%;
      height: 100%;
      background-color: pink;
    }
  </style>
</head>

<body>
  <div class="father">
    <div class="left">
      <img src="../assets/img/home/hobbies/footballpic.jpeg" alt="">
    </div>
    <div class="right"></div>
  </div>
</body>

</html>